# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc
*~

#uploaded files
media/

# virtual environment
.venv/

# VS Code (NOT EVERYONE WILL HAVE VSCODE, FIGURE OUT UNIVERSAL LAUNCHER)


#file uploads
media/

#database
FSC_website_database