.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin: 10px;
}

.text {
    flex-grow: 1;
}

.description {
    width: 65%;
    padding-left: 40px;
    padding-right: 40px;
}

.textwrap {
    word-wrap: break-word;
    width: min-content;
}

.bttn {
    background-color: #FF2828;
    border: 2px solid #FF2828;
    color: #FFFFFF;
    padding: 6px 16px;
    text-decoration: none;
    margin: auto;
    margin-right: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 200ms;
}

.bttn:hover {
    background-color: #FFFFFF;
    color: #FF2828;
}

.item {
    font-weight: bold;
    font-size: 30px;
}

.bonus {
    font-size: 15px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.noHover {
    pointer-events: none;
    background-color: #FFAAAA;
    color: #FFFFFF;
    border-color: #FFAAAA;
}