{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Alpha Gamma Delta</h1>
    <p> &emsp; Becoming a sister of Alpha Gamma Delta will give you the opportunity to create friendships that will last a lifetime.
        We strive to help all sisters become the best versions of themselves and excel in academics, 
        community service, and campus involvement. 
        We hope that going Panhellenic will help you find the home away from home that we found in Alpha Gamma Delta.
      
        <p class="contact_text">
          Founding Date: <br>
          May 30, 1904 <br>
          Charter Date: <br>
          May 30, 1904 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23445.851950277345!2d-73.67408771932233!3d42.73057355422797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f9e50504883%3A0x9f3ea7ce08601237!2s19%20Sherry%20Rd%2C%20Troy%2C%20NY%2012180!5e0!3m2!1sen!2sus!4v1729026245207!5m2!1sen!2sus"
    width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/agdzh">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/rpialphagam/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}