{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Alpha Chi Rho</h1>
    National Founding Date: June 4, 1895 <br>

    RPI Charter Date: October 23, 1948 <br>
    <br>

    Chapter Size: 18 <br>

    Chapter Semesterly Dues: <br>
    3200 room <br>
    775 board <br>
    1000 dues <br>
    <br>
    Chapter GPA: N/A <br>

    Major Distribution: <br>
    School of Architecture <br>
    School of Business <br>
      Supply Chain Management: 1 <br>
    School of Engineering <br>
      Mechanical, Aerospace, and Nuclear Engineering: 3 <br>
    School of Humanities, Arts, and Social Sciences <br>
      Games, Simulation Arts, and Sciences: 1 <br>
      Philosophy: 1 <br>
      Cognitive Science: 2 <br>
    School of Information Technology & Web Science <br>
    School of Science <br>
      Physics: 1 <br>
      Math: 1 <br>
      Computer Science: 8 <br>

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4929.366523931061!2d-73.67472215864844!3d42.724491302679915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f7416fa0903%3A0x138a77202e81200!2sAlpha%20Chi%20Rho!5e0!3m2!1sen!2sus!4v1691374622367!5m2!1sen!2sus"
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/rpideltaphi">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/rpicrows/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/AlphaChiRhoLogo.jfif' %}" alt="Image 1">
{% endblock %}