{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Alpha Sigma Phi</h1>
    
    <p> &emsp; Alpha Sigma Phi is a fraternity with brothers that strive to follow their motto “To Better The Man”. Always actively improving themselves, brothers will refuse to be stagnant. Following the 5 values: Silence, Charity, Purity, Honor, Patriotism; you can always count on Alpha Sigma Phi to be a place that anyone can enjoy and be greeted with a friendly face. A variety of activities, Monster sponsorship, personalities, and a house at 16 Belle Avenue brings brothers together to grow and have a 2nd family at RPI and for the rest of their lives.
    <br>
    <br>
    <p class="contact_text">
    President <br>
    Phillip Stapleton - 864-557-0248 <br>
    asigphi.president@gmail.com <br>
    <br>
    Rush Chair <br>
    David Finck - 203-299-7739 <br>
    asigphi.betapsi.rush@gmail.com <br>
    <br>
    Nationally Founded: December 6, 1845 <br>
    <br>
    Chapter Founded: November 1940 <br>
    <br>
    Chapter Size: 20 <br>
    <br>
    Financial Dues: <br>
    $700 for Dues <br>
    $700 for meal plan <br>
    $2000-$3000 for Room <br>
    <br>
    </p>

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2931.2584761248536!2d-73.67110632347072!3d42.71941961232202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f71c9fb9905%3A0x342d99eda6cdc952!2sAlpha%20Sigma%20Phi%20-%20Beta%20Psi%20Chapter!5e0!3m2!1sen!2sus!4v1691374492210!5m2!1sen!2sus"
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/alphasig_rpi">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/alphasig.rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img src="{% static 'IFC/images/Houses/AlphaSigmaPhiHouse.png' %}" alt="Image 1">
{% endblock %}