{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Alpha Gamma Delta</h1>
    <p> &emsp; The 726th Chapter of Alpha Phi Alpha Fraternity, Incorporated.
      
        <p class="contact_text">
          Founding Date: <br>
          December 4, 1906 <br>
          Charter Date: <br>
          February 19th, 1983 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/rpialphas">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/rpialphas/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}