{% extends "IFC/Chapter_base.html" %}
{% load static %}
{% block left_column %}
    <h1>Alpha Phi</h1>
    <p> &emsp; Alpha Phi is a sisterhood of outstanding women supporting one another in lifelong achievement. 
        Our sisterhood stretches from coast to coast with more than 200,000 members. 
        Sisters share a commitment to excellence and a strong desire to help one another and their communities. 
        Alpha Phis are leaders, scholars, contributors and lifetime members of a sisterhood that values these traits.
        The Theta Tau Chapter at RPI is a dynamic group of women, each with unique interests, talents, and backgrounds. 
        Through the years we spend together our friendships develop into lifelong connections founded on similar experiences and values.

        <p class="contact_text">
          Founding Date: <br>
          October 10, 1872 <br>
          Charter Date: <br>
          April 23, 1995 <br>
        
        </p>
{% endblock %}
{% block right_column %}
  
{% endblock %}
{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.6247109311234!2d-73.664958!3d42.7328334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f84b1446deb%3A0x63ecb55f51dfe32a!2sSunset%20Terrace%20%26%20Forsyth%20Dr%2C%20Troy%2C%20NY%2012180!5e0!3m2!1sen!2sus!4v1728691456240!5m2!1sen!2sus"
    width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
{% endblock %}
{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/rpialphaphi">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/rpialphaphi/?hl=en">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}
{% block crest %}
{% endblock %}