{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Alpha Omega Epsilon</h1>
    <p> &emsp; Alpha Omega Epsilon is a professional and social sorority founded in 1983 that promotes friendship, 
        leadership and professionalism to all members of the organization, 
        the community, and our professions. 
        They accept majors in the Schools of Engineering and Architecture, 
        some majors in the School of Science, and certain concentrations of Information Technology. 
      
        <p class="contact_text">
          Founding Date: <br>
          November 13, 1983 <br>
          Charter Date: <br>
          April 23, 2006 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.7627712136555!2d-73.67924102511556!3d42.729911611657094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f9ff0b8d78d%3A0x3b68256f4f883c88!2s1761%2015th%20St%2C%20Troy%2C%20NY%2012180!5e0!3m2!1sen!2sus!4v1728090666235!5m2!1sen!2sus"
    width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/rpiaoe">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/rpi.a.o.e/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}