{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Chi Phi</h1>
    <p> &emsp; Who we are as a house:  Chi Phi is a diverse and welcoming brotherhood right on the corner of Sage and 15th Street, in the heart of the RPI campus. We pride ourselves on enriching our local community, forming lifelong connections and building better men. Standing by our values of Truth, Honor and Personal Integrity since 1878, Chi Phi leads by example. <br> 
    <br>
    <p class="contact_text">
    President <br>
    Jared Zornitzer - (862) 485-6988 <br>
    alpha.theta.chiphi@gmail.com <br>
    <br>
    Recruitment Chairman <br>
    Soul Soulaymana - (929) 255-7772 <br>
    iota.theta.chiphi@gmail.com <br>
    <br>
    National Founding Date <br>
    December 24th, 1824 <br>
    <br>
    Charter Date on Campus <br>
    May 25th, 1878 <br>
    <br>
    Chapter Size <br>
    24 Members <br>
    <br>
    Chapter Semesterly Dues <br>
    $1100/semester in dues <br>
    $1250/semester for full meal plan <br>
    $1700-$2100/semester for room charges <br>
    <br>
    Chapter Average Cumulative GPA <br>
    3.30 (Spring 2021) <br>
    <br>
    </p>
{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.708418174935!2d-73.68005592347025!3d42.731061911581506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0fa02eb34707%3A0x85724baf7140ae10!2sTheta%20Chapter%20of%20Chi%20Phi%20Fraternity!5e0!3m2!1sen!2sus!4v1691375055709!5m2!1sen!2sus"
 width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/chi_phi_rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
  <a href="https://www.thetaofchiphi.org">
    <img src="{% static 'IFC/images/ChiPhiWebsite.png' %}" alt="Website" style="height: 50px; width: 50px;">
  </a>
  <a href="https://www.facebook.com/search/top?q=chi%20phi%20at%20rpi">
    <img src="{% static 'IFC/images/FacebookLogo.png' %}" alt="Website" style="height: 50px; width: 50px;">
  </a>
  <a href="https://twitter.com/thetaofchiphi">
    <img src="{% static 'IFC/images/TwitterLogo.png' %}" alt="Website" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/Houses/ChiPhiHouse.png' %}" alt="Image 1">
{% endblock %}