{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Delta Kappa Epsilon</h1>

    <p> &emsp; DKE was refounded in 2014, and has been helping both the local community and brothers prosper since. We hold many events from philanthropy events to help our fellow communities including volunteering for food banks and United Ministries to social events like games, pickup volleyball nights and more. At the same time, we exceed professionally in our academics and careers. We hold professional help like career fair prep and exam review sessions for general courses. Brothers of Dekes are a bunch of friends that exemplify the DKE motto in their everyday lives: the gentleman, scholar, and jolly good fellow.
    <br>
    <br>
    <p class="contact_text">
    President
    Jacob Edwards - (703)-509-1311 <br>
    president.dkepsiomega@gmail.com <br>
    <br>
    Recruitment <br>
    Alexander Orr - (203)-952-2986 <br>
    recruitment.dkepsiomega@gmail.com <br>
    <br>
    Address: 901 Peoples Avenue (Off of West Hall) <br>
    <br>
    Nationally Founded: 1844 <br>
    <br>
    Chapter Founded: 1867 <br>
    <br>
    Chapter Refounded: 2014 <br>
    <br>
    Chapter Size: 13 <br>
    <br>
    Cumulative GPA: 3.50 <br>
    <br>
    Financial Dues <br>
    Membership Dues: $500-$650 <br>
    Room Cost: $3957 <br>
    <br>
    </p>

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11722.314230736762!2d-73.69243098661515!3d42.73381011140793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0fa144e49413%3A0xf4460c1c4817822f!2sDelta%20Kappa%20Epsilon%20at%20RPI!5e0!3m2!1sen!2sus!4v1691373206663!5m2!1sen!2sus"
 width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/dke_rpi">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/dke_rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/Houses/DeltaKappaEpsilonHouse.jpg' %}" alt="Image 1">
{% endblock %}