{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Delta Phi</h1>
    <p> &emsp; Delta Phi is a close knit, academically focused fraternity that seeks to build lifelong connections between our brothers. We understand the stigma surrounding the term “frats”. However, as the oldest continuous fraternity in the US, we believe that Delta Phi is categorically different and that we’re still able to have fun while supporting each other.
    <br>
    <br>
    <p class="contact_text">
    President: Henry Rodriguez, # 845 826 6221 <br>
    Recruitment Chair: Robert Shen, (925) 918-5550 <br>
    <br>
    Website: https://www.deltaphirpi.com/ <br>
    <br>
    National Founding Date: 1827 <br>

    Charter Year on Campus: 1864 <br>
    <br>
    Financial Dues <br>
    Membership dues: $525 <br>
    Room: $3500 <br>
    Meal Plan (Food+Grocery): $400 <br>
    <br>
    Chapter Size: 12 <br>
    <br>
    </p>

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11723.231225271826!2d-73.68667511409363!3d42.72895849279374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0fbbb6dfe627%3A0x392203751efa8778!2sDelta%20Phi!5e0!3m2!1sen!2sus!4v1691373233700!5m2!1sen!2sus" 
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/rpideltaphi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
  <a href="https://www.deltaphirpi.com/">
    <img src="{% static 'IFC/images/DeltaPhiLogo.png' %}" alt="Instagram" style="height: 75px; width: 75px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/Houses/DeltaPhiHouse.png' %}" alt="Image 1">
{% endblock %}