{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Omega Phi Beta</h1>
    <p> &emsp; A Latina-Oriented, but not based Sorority.
      
        <p class="contact_text">
          Founding Date: <br>
          March 15, 1989 <br>
          Charter Date: <br>
          Summer 2021 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/rpibetas">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/rpi_betas/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}