{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Phi Iota Alpha</h1>
    <p> &emsp; Our fraternity's roots extend from the late 19th century to the first Latino fraternity and the
        first Latino student organization in the United States. Our brotherhood is composed of university and
        professional men committed towards the empowerment of the Latin American community.
        We do this by providing social, cultural programs and activities geared towards the appreciation, 
        promotion, and preservation of Latin American culture.
      
        <p class="contact_text">
          Founding Date: <br>
          December 26, 1931 <br>
          Charter Date: <br>
          December 26, 1931 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/alphaphiotas">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/alphaphiotas/?hl=en">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}