{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Phi Mu Delta</h1>

    President:  (207) 710 - 1517 <br>
    Recruitment Chair: Chase Grajeda (301) 456 - 4050 <br>
    <br>
    National founding date: March 1st, 1918 <br>
    Local chartering date: May 4th, 1929 <br>
    <br>
    Chapter size: 18 <br>
    Financial dues (2019-2021 average):  <br>
    $656 for general member dues <br>
    $4,327 for room and board <br>
    Spring 2021 GPA: 3.61 <br>
    <br>



{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12421.459136992145!2d-73.68512245774778!3d42.72331993859513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f6ee7404d57%3A0xb47c290ab365ef12!2sPhi%20Mu%20Delta!5e0!3m2!1sen!2sus!4v1691373369020!5m2!1sen!2sus" 
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/phimud">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/phimudrpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/Houses/PhiMuDeltaHouse.jpg' %}" alt="Image 1">
{% endblock %}