{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>PHI GAMMA DELTA - FIJI</h1>
    <p> &emsp; Phi Gamma Delta is a social fraternity which is commonly known as “FIJI”. 
      We are a very close brotherhood whose main values are friendship, knowledge, service, morality, and excellence. 
      We maintain real friendships between one another which allow us to be open and honest 
      to grow personally, professionally, and socially. Our goal is to build a community 
      which thrives within itself and spreads its passion and excitement to better the greater campus community. <br>

    <p class="contact_text">
    President: <br>
    Clark McFarlane - (407)-663-6424 <br>
    Recruitment Chairs: <br>
    Caleb Carr - (774)-517-7904 <br>
    Jeremiah D'imperio - (315)-224-9122 <br>

    <br>
    National Founding Date: May 1, 1848 <br>
    RPI Charter Date: November 3, 1984 <br>
    <br>

    Chapter Size: 18 <br>
    Chapter Semesterly Dues: $750 <br>
    Chapter House Rent: $4300 <br>
    Spring 2021 GPA: 3.5 <br>
    
    
    </p>
    
{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10369.157945522755!2d-73.68703088140892!3d42.728447912085585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f07c7917bed%3A0x8caf4f50158f0b78!2sTau%20Nu%20Chapter%20of%20Phi%20Gamma%20Delta%20Fraternity!5e0!3m2!1sen!2sus!4v1691373311062!5m2!1sen!2sus" 
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.phigam.org">
    <img src="{% static 'IFC/images/PhiGammaDeltaWebsite.png' %}" alt="Website" style="height: 50px; width: 50px;">
  </a>
  <a href="https://linktr.ee/taunufiji">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/taunufiji/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img  class="prov-image" src="{% static 'IFC/images/Houses/PhiGammaDeltaHouse.png' %}" alt="Image 1">
{% endblock %}