{% extends "IFC/Chapter_base.html" %}
{% load static %}
{% block left_column %}
    <h1>Pi Beta Phi</h1>
    <p> &emsp; As a premier Greek Organization, 
        Pi Beta Phi takes pride in providing women endless opportunities for community service, 
        academic excellence, and leadership development. 
        Every chapter is founded with the promise that each member will have equal opportunity to use the tools
        provided by Pi Beta Phi in order to flourish at Rensselaer Polytechnic Institute and beyond. 
        We are proud of all of our individually unique sisters who bring their own flavor to our chapter. 
        California to Maine, engineering to cognitive science, an array of service groups, clubs, 
        and hobbies are represented in our chapter by sisters who strive to make the most of their college experience.

        <p class="contact_text">
          Founding Date: <br>
          April 28, 1867 <br>
          Charter Date: <br>
          November 17, 1984 <br>
        
        </p>
{% endblock %}
{% block right_column %}
  
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://www.instagram.com/pibetaphihq/?hl=en">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}
{% block crest %}
{% endblock %}