{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Pi Delta Psi</h1>
    <p> &emsp; Asian Cultural Fraternity

        <p class="contact_text">
          Founding Date: <br>
          February 20, 1994 <br>
          Charter Date: <br>
          1997 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://www.instagram.com/pdpsi.rpi/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}