{% extends "IFC/Chapter_base.html" %}
{% load static %}
{% block left_column %}
    <h1>Sigma Delta</h1>
    <p> &emsp; La Sociedad de Damas, a Multicultural Latin-based sorority founded in 1996 at Rensselaer Polytechnic Institute.
        We promote basic values such as honesty, compassion, self-pride, sisterhood, professionalism, 
        and hard work among women.
        Even though we are a Latin-based sorority we welcome women of all cultural backgrounds.
      
        <p class="contact_text">
          Founding Date: <br>
          March 25, 1917 <br>
          Charter Date: <br>
          April 12, 1996 <br>
        
        </p>
{% endblock %}
{% block right_column %}
  
{% endblock %}

{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/Sigmadeltarpi">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
    <a href="https://www.instagram.com/sigmadeltarpi/">
      <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
    </a>
  </div>
{% endblock %}
{% block crest %}
{% endblock %}