{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Sigma Iota Alpha</h1>
    <p> &emsp; As Hermanas of Hermandad de Sigma Iota Alpha Inc., 
    our mission is to uphold the goals set forth by our thirteen founding mothers. 
    We pledge to formalize, cultivate, and foster bonds amongst each other as sisters and abide by respect,
    trust, communication, professionalism, and accountability.
  
        <p class="contact_text">
          Founding Date: <br>
          September 29th, 1990 <br>
          Charter Date: <br>
          Fall 2024 <br>
        
        </p>
{% endblock %}

{% block right_column %}
  
{% endblock %}


{% block links %}
  <div class="social-bar">
    <a href="https://linktr.ee/hermandaddesia">
      <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
    </a>
  </div>
{% endblock %}

{% block crest %}

{% endblock %}