{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Sigma Phi Epsilon</h1>

President <br>
Wayne Alley - (201) 744-7221 <br>
wayne.alleyjr@gmail.com <br>
<br>
Recruitment <br>
Dan Shipman - (774) 254-2185 <br>
dshipman44@gmail.com <br>
<br>
Chapter Size: 21 Members <br>
Financial Dues: $225-$500 <br>
<br>
Charter Date: 1938 <br>
Nationally: November 1st, 1901 <br>

{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10369.001356665502!2d-73.6844927903147!3d42.72938462914215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f9f6132d2df%3A0x6ffeb2e0bf149f9b!2sSigma%20Phi%20Epsilon%20NYD!5e0!3m2!1sen!2sus!4v1691373550613!5m2!1sen!2sus" 
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/sigepnyd">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/sigeprpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
  <a href="https://rpi.sigep.org/">
    <img src="{% static 'IFC/images/SigmaPhiEpsilonLogo.png' %}" alt="Instagram" style="height: 75px; width: 75px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/Houses/SigmaPhiEpsilonHouse.jpg' %}" alt="Image 1">
{% endblock %}