{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Theta Xi</h1>
President:  <br>
Tim Budding - 781-439-3194 <br>
presidentofalphachapter@gmail.com  <br>
<br>
Recruitment: <br>
	Steven Hepensteil - 203-856-6811 <br>
	hepens@rpi.edu <br>
  <br>
Financial Dues: <br>
Base Dues - $1,168.00 <br>
Meal plan (optional for anyone) - $1,579.00 <br>
Rent - $2650.00 <br>
Out of House Brother Fee with Meal Plan (no rent) - $2747.00 <br>
In House Brother Fee (Includes rent and base dues, no meal plan) - $3818.00 <br>
In-House Brother with Meal Plan - $5397.00 <br>
<br>
Founding Date: April 29th, 1864 <br>
Charter Date: April 29th, 1864 <br>


{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2930.736891886661!2d-73.67768342432929!3d42.730459311621125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f9fa5551bf5%3A0xc96005ce2ae2049a!2sTheta%20Xi%20Fraternity!5e0!3m2!1sen!2sus!4v1691373617225!5m2!1sen!2sus" 
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://linktr.ee/rpithetaxi">
    <img src="{% static 'IFC/images/LinkTreeLogo.png' %}" alt="Linktree" style="height: 35px; width: 150px;">
  </a>
  <a href="https://www.instagram.com/rpithetaxi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/Houses/ThetaXiHouse.png' %}" alt="Image 1">
{% endblock %}