{% extends "IFC/Chapter_base.html" %}
{% load static %}

{% block left_column %}
    <h1>Zata Psi</h1>
{% endblock %}

{% block right_column %}

{% endblock %}

{% block map %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15991.285517149798!2d-73.69262370250134!3d42.72901454090572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0f703719d701%3A0x12f8aaf5e480aeb!2sThe%20Pi%20Chapter%20of%20Zeta%20Psi!5e0!3m2!1sen!2sus!4v1691373647379!5m2!1sen!2sus" 
width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}

{% block links %}
<div class="social-bar">
  <a href="https://www.instagram.com/zetapsi_rpi/">
    <img src="{% static 'IFC/images/InstagramLogo.png' %}" alt="Instagram" style="height: 50px; width: 50px;">
  </a>
</div>
{% endblock %}

{% block crest %}

{% endblock %}

{% block image %}
    <img class="prov-image" src="{% static 'IFC/images/ZetaPsiLogo.jfif' %}" alt="Image 1">
{% endblock %}