<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RPI FSC</title>
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'IFC/css/upload.css' %}" />

</head>

<body>
    <div id="main-content">
        <!-- Navbar -->
        {% include 'IFC/navbar.html' %}

        <!-- Main Content -->
        <main class="main-content">

            <iframe name="form-redirect" style="display:none;"></iframe>

            <div class="container">
                {% for item in acr_data %}
                <div class="row">
                    <ul class="list-unstyled hstack">
                        <li><span class="text item">{{ item.section }}</span></li>
                    </ul>
                    <div class="description hstack">
                        <span class="text">{{ item.description }}</span>
                    </div>
                    <form action="/accreditation" method="POST" id="{{ item.section }}" class="upload-form" target="form-redirect" enctype="multipart/form-data">
                        <label id="browse-label-{{ item.section }}" for="file-{{ item.section }}" class="browse-label bttn">Browse</label>
                        <input type="file" id="file-{{ item.section }}" class="hidden file-select" name="file" required/>
                        <input type="submit" id="submit-{{ item.section }}" class="submit bttn" value="Upload File">
                        <input type="hidden" id="acr_section" name="acr_section" value="{{ item.section }}">
                        {% csrf_token %}
                    </form>

                    <a href="#" onClick="fileView=window.open('/accreditation/list?sec={{ item.section }}','fileView','width=600,height=400'); return false;">View Uploads</a>
                </div>
                {% endfor %}
            </div>
        </main>

        <!-- Footer -->
        {% include 'IFC/footer.html' %}
        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

<script>

    $('.file-select').addEventListener('change', function(){
        var sec_id = $(this).parent().attr('id');

        var file_select_label = $('#browse-label-' + sec_id);
        var filename = $(this)[0].files[0].name;

        file_select_label.text(filename);
        submit_bttn.removeClass('noHover');
    })

    $('.submit').click(function(){
            $(this).addClass("noHover");

            var browse_label = $('#browse-label-' + sec_id);
            browse_label.text('Browse');

            var file_select = $('#file-' + sec_id);
            file_select.val('');
        })

    var sections = document.getElementsByClassName("upload-form");
    //console.log(sections);
    for (var i = 0; i < sections.length; i++)
    {
        var sec = sections.item(i);
        console.log(sec);
        var sec_id = sec.parent().attr('id');
        console.log("sec_id: " + sec_id);

        file_select_label = '#browse-label-' + sec_id;
        file_select = '#file-' + sec_id;
        submit_bttn = '#submit-' + sec_id;

        //when a file is selected, update the browse button label and enable the upload button
        file_select.addEventListener('change', function(){
            var filename = $(this)[0].files[0].name;
            file_select_label.text(filename);

            submit_bttn.removeClass('noHover');
        })

        submit_bttn.click(function(){
            $(this).addClass("noHover");

            var browse_label = $('#browse-label-' + sec_id);
            browse_label.text('Browse');

            var file_select = $('#file-' + sec_id);
            file_select.val('');
        })
    }

</script>

</html>