<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RPI FSC</title>
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'IFC/css/upload.css' %}" />

</head>

<body>
    <div id="main-content">
        <!-- Navbar -->
        {% include 'IFC/navbar.html' %}

        <!-- Main Content -->
        <main class="main-content">

            <iframe name="form-redirect" style="display:none;"></iframe>

            <div class="container">
                {% for item in acr_data %}
                <div class="row">
                    <ul class="list-unstyled">
                        <li><span class="text item">{{ item.section }}</span></li>
                    </ul>
                    <div class="description">
                        <span class="text">{{ item.description }}</span>
                    </div>

                    <form action="/accreditation" method="POST" id="{{ item.section }}" class="upload-form hstack" enctype="multipart/form-data">
                        <label id="browse-label-{{ item.section }}" for="file-{{ item.section }}" class="bttn textwrap">Browse</label>
                        <input type="file" id="file-{{ item.section }}" class="hidden file-select" name="file" required/>
                        <input type="submit" id="submit-{{ item.section }}" class="submit bttn noHover" value="Upload File">
                        <input type="hidden" id="acr_section" name="acr_section" value="{{ item.section }}">
                        {% csrf_token %}
                    </form>

                    <a href="#" onClick="fileView=window.open('/accreditation/list?sec={{ item.section }}','fileView','width=600,height=400'); return false;">View Uploads</a>
                </div>
                {% endfor %}
            </div>
        </main>

        <!-- Footer -->
        {% include 'IFC/footer.html' %}
        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

<script>

    $('.file-select').change(function(){
        var sec_id = $(this).parent().attr('id');
        var filename = $(this)[0].files[0].name;

        $('#browse-label-' + sec_id).text(filename);

        $('#submit-' + sec_id).removeClass('noHover');
    })

</script>

</html>