{% load static %}
<div id="notification">
  <h2>Welcome to the RPI Fraternity and Sorority Commons website!</h2>
    <button id="close-btn" style="background: none; border: none;">
        <img src="{% static 'IFC/images/closeButton.png' %}" alt="Close button" style="height: 30px;">
    </button>
</div>


<style>
  
    #notification {
      width: 100%;
      background-color: #f8d7da;
      color: #721c24;
      text-align: center;
      padding: 10px 0;
      position: relative;
      transition: top 0.9s ease-out;
    }
    #notification p {
      margin: 0;
    }
    #close-btn {
      position: absolute;
      right: 10px;
      top: 45%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 30px;
      margin-right: 20px;
    }
    #main-content {
      transition: margin-top 0.3s ease-out;
    }
</style>
