{% extends 'IFC/base.html' %}

{% block title %}RPI FSC{% endblock %}

{% block content %}

    {% load static %}

    <style>
        .hero .title-text{
            color: rgb(0, 0, 0);
            font-weight: bolder;
            font-size: xx-large;
        }
        .main-content .container{
            padding: 20px;
        }

        .statistics p{
            font-size: 12px;
            text-justify: center;
            text-align: center;
        }

        .statistics h1{
            font-size: 24px;
            text-justify: center;
            text-align: center;
        }

        .separator {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

        @font-face {
            font-family: 'CustomFont';
            src: url("{% static 'IFC/Fonts/Overpass/overpass-extrabold.otf' %}") format('truetype');
        }
    </style>

    {% include 'IFC/dropdownBanner.html' %}

    <main class="main-content">
        <div class="container">
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-6">
                    <!-- First Image Carousel -->
                    {% include 'IFC/carousel.html' %}
                </div>
                <div class="col-lg-6">
                    <!-- Second Image Carousel -->
                    {% include 'IFC/carousel.html' %}
                </div>
            </div>
        </div>
        
        <hr class="separator">
        <h1>About the FSC</h1>
        <hr class="separator">

        <div class ="statistics">
            <div class="row justify-content-center" style="margin-bottom: 0px; text-align: center;">
            </div>
            <div class="container">
                {% include 'IFC/percentageGraph.html' %}
            </div>
        </div>

        <div>
            {% include 'IFC/splitSection.html' %}
        </div>
        
    </main>

    <script>
        $(document).ready(function() {
            // For each carousel on the page
            $(".carousel").each(function(index) {
                var carouselId = "carouselExampleIndicators" + (index + 1);
        
                // Set the ID of the carousel
                $(this).attr("id", carouselId);
        
                // Update the data-targets of the carousel indicators
                $(this).find(".carousel-indicators li").each(function() {
                    $(this).attr("data-target", "#" + carouselId);
                });
        
                // Update the hrefs of the carousel controls
                $(this).find(".carousel-control-prev").attr("href", "#" + carouselId);
                $(this).find(".carousel-control-next").attr("href", "#" + carouselId);
            });
        });
    
        window.onload = function() {
            var notification = document.getElementById('notification');
            var closeBtn = document.getElementById('close-btn');
            var mainContent = document.getElementById('main-content');
    
            notification.style.top = '0px';
            mainContent.style.marginTop = '0px';
    
            closeBtn.onclick = function() {
            notification.style.top = '-' + (notification.offsetHeight * 2) + 'px';
            mainContent.style.marginTop = '-' + notification.offsetHeight + 'px';
            }
        }
    </script>
{% endblock %}