<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Important Documents</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />

    <link rel="stylesheet" href="{% static 'PDFButtons.css' %}">

    <style>
        /* Add your custom styles here */
        .page-title {
            color: black;
            text-align: center;
            padding: 10px 0;
        }
    </style>
    
</head>

<body>
    {% include 'IFC/navbar.html' %}

    <h1 class="page-title">Governing Documents</h1>

    <div class="pdf-buttons">
        <a href="{% static 'IFC/documents/constitution.pdf' %}" target="_blank" class="pdf-button">
            <div class="stripe"></div>
            <div class="text">IFC Constitution</div>
        </a>
        <a href="{% static 'IFC/documents/recruitment.pdf' %}" target="_blank" class="pdf-button">
            <div class="stripe"></div>
            <div class="text">IFC Recruitment Policy</div>
        </a>
        <a href="{% static 'IFC/documents/JBoard.pdf' %}" target="_blank" class="pdf-button">
            <div class="stripe"></div>
            <div class="text">IFC Judicial Policy</div>
        </a>
        <a href="{% static 'IFC/documents/community.pdf' %}" target="_blank" class="pdf-button">
            <div class="stripe"></div>
            <div class="text">Community Relations Charter</div>
        </a>
    </div>

    <!-- Footer -->
    {% include 'IFC/footer.html' %}
</body>

</html>
