<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Log in</title>
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />
    
</head>

<body>
    <!-- Navbar -->
    {% include 'IFC/navbar.html' %}

    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" required>
        <label for="password">Password:</label>
        <input type="text" name="password" required>
        <button type="submit">Login</button>
    </form>
    
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <!-- Footer -->
    {% include 'IFC/footer.html' %}
</body>

</html>
