{% extends 'IFC/base.html' %}

{% block title %}Our Chapters{% endblock %}

{% block content %}
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />
    <style>
        /* Add your custom styles here */
        .page-title{
            background-color: rgb(214, 0, 28);
            color: black;
            text-align: center;
            position: flex;
        }
        
        .chapters{margin-top: 25px;}
    </style>

    <div class="chapters">
        {% include 'IFC/chapterGrid.html' %}
    </div> 
{% endblock %}