{% extends 'IFC/base.html' %}

{% block title %}Recruitment{% endblock %}

{% block header %}
    <style>
        .introduction{
            justify-content: center;
            text-align: center;
            margin: 50px 10%;
        }

        .two-adjacent{
            display: flex;
            align-items: center;
            gap: 10%;
            padding: 20px 10% 20px 10%;
        }
        
        .two-adjacent img{
            min-width: 40%;
        }
        
        .titled-text{
            text-align: center;
            color: black;
            padding: 10px;
            align-items: center;
        }

        .FAQ{
            padding: 20px 0 20px 0;
            text-align: center;
        }

        .button-wrapper{
            display: flex;
            justify-content: center;
            margin-top: 20px;
            display: flex;
        }

        a.register-button {
            transition: 0.3s;
            background-color: rgb(214, 0, 28);
            color: white;
            padding: 10px 100px;
            border: none;
            font-size: 16px;
            text-align: center;

        }

        a.register-button:hover {
            transition: 0.3s;
            filter: brightness(75%);
            color: white;
            text-decoration: none;
        }

        a.philanthropy-button {
            transition: 0.3s;
            background-color: rgb(214, 0, 28);
            color: white;
            padding: 10px 100px;
            border: none;
            font-size: 16px;
            text-align: center;
        }

        a.philanthropy-button:hover {
            transition: 0.3s;
            filter: brightness(75%);
            color: white;
            text-decoration: none;
        }

        .call-to-register {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            .freshmen-button{
                color: grey;
                padding-top: 10px;
            }

            .register-button {
                margin-top: 20px;
            }
        }
    </style>
{% endblock %}

{% block content %}
    {% load static %}

        <div class="introduction">
            <h1>Why Join A Greek Organization?</h1>
            <p style="padding: 0 10% 0 10%;">Joining a greek organization provides a unique 
                opportunity to cultivate lifelong friendships, foster personal growth, 
                and create a strong network of professional connections. As a member of 
                our greek community, you will have access to leadership development 
                programs, community service projects, and social events that promote 
                camaraderie and teamwork. Our fraternity and sorority commons is committed to 
                creating a respectful and inclusive environment that encourages 
                individuality while also emphasizing shared values and goals. By becoming 
                part of our greek system, you are not only joining a brotherhood but 
                investing in a future filled with support, success, and enrichment.</p>
        </div>

        <div class="Community">
            <div class="two-adjacent">
                <div class="titled-text">
                    <h2>Community</h2>
                    <p>Joining a greek organization is more than a college experience; it's a 
                        lifelong journey filled with camaraderie, personal growth, and 
                        community involvement. Engage in enriching social events, make 
                        connections that last a lifetime, and contribute to meaningful 
                        philanthropic efforts. By becoming part of this vibrant community,
                         you'll forge bonds that extend beyond your university years. 
                         Discover the unique opportunities and friendships that await 
                         you in greek life!
                    </p>
                    <div class="button-wrapper">
                        <a class="philanthropy-button" href="chapters">
                            Our Chapters
                        </a>
                    </div>
                </div>
                <img src="{% static 'IFC/images/carousel/image1.jpeg' %}" class="d-block w-100" alt="Image 1">
            </div>
        </div>

        <div class="Philanthropy">
            <div class="two-adjacent">
                <img src="{% static 'IFC/images/carousel/image1.jpeg' %}" class="d-block w-100" alt="Image 1">

                <div class="titled-text">
                    <h2>Philanthropy & Service</h2>
                    <p>Philanthropy and service are at the heart of our commitment to both
                         the RPI community and the broader Troy community. Through 
                         hands-on volunteering, organized charity events, and 
                         collaboration with local organizations, we strive to make a 
                         positive impact. Join us in making a difference!</p>
                    <div class="button-wrapper">
                        <a href="/Philanthropy-and-service" class="philanthropy-button">
                            Learn More
                        </a>
                    </div>
                </div>


            </div>
        </div>

        <div class="testimonials">

        </div>

        <div class="FAQ">
                <h2>Fequently Asked Questions</h2>
                {% include 'IFC/FAQ.html' %}

        </div>

        <div class="call-to-register">
            <h2>Join us today!</h2>
            <a id="registerFall" class="register-button" href="" target="blank">
                Register
            </a>
            <a id="freshmenInterest" class="freshmen-button" href="" target="blank">
                First-year student interest form
            </a>
        </div>
        
    <div class="introduction">
        <h1>Why Join A Greek Organization?</h1>
        <p style="padding: 0 10% 0 10%;">Joining a greek organization provides a unique 
            opportunity to cultivate lifelong friendships, foster personal growth, 
            and create a strong network of professional connections. As a member of 
            our greek community, you will have access to leadership development 
            programs, community service projects, and social events that promote 
            camaraderie and teamwork. Our fraternity and sorority commons is committed to 
            creating a respectful and inclusive environment that encourages 
            individuality while also emphasizing shared values and goals. By becoming 
            part of our greek system, you are not only joining a brotherhood but 
            investing in a future filled with support, success, and enrichment.</p>
    </div>

    <div class="Community">
        <div class="two-adjacent">
            <div class="titled-text">
                <h2>Community</h2>
                <p>Joining a greek organization is more than a college experience; it's a 
                    lifelong journey filled with camaraderie, personal growth, and 
                    community involvement. Engage in enriching social events, make 
                    connections that last a lifetime, and contribute to meaningful 
                    philanthropic efforts. By becoming part of this vibrant community,
                        you'll forge bonds that extend beyond your university years. 
                        Discover the unique opportunities and friendships that await 
                        you in greek life!
                </p>
                <div class="button-wrapper">
                    <a class="philanthropy-button" href="chapters">
                        Our Chapters
                    </a>
                </div>
            </div>
            <img src="{% static 'IFC/images/carousel/image1.jpeg' %}" class="d-block w-100" alt="Image 1">
        </div>
    </div>

    <div class="Philanthropy">
        <div class="two-adjacent">
            <img src="{% static 'IFC/images/carousel/image1.jpeg' %}" class="d-block w-100" alt="Image 1">

            <div class="titled-text">
                <h2>Philanthropy & Service</h2>
                <p>Philanthropy and service are at the heart of our commitment to both
                        the RPI community and the broader Troy community. Through 
                        hands-on volunteering, organized charity events, and 
                        collaboration with local organizations, we strive to make a 
                        positive impact. Join us in making a difference!</p>
                <div class="button-wrapper">
                    <a class="philanthropy-button" href="philanthropy">
                        Learn More
                    </a>
                </div>
            </div>


        </div>
    </div>

    <div class="testimonials">

    </div>

    <div class="FAQ">
            <h2>Fequently Asked Questions</h2>
            {% include 'IFC/FAQ.html' %}

    </div>

    <div class="call-to-register">
        <h2>Join us today!</h2>
        <a id="registerFall" class="register-button" href="" target="blank">
            Register
        </a>
        <a id="freshmenInterest" class="freshmen-button" href="" target="blank">
            First-year student interest form
        </a>
    </div>

    <script src="{% static 'IFC/js/links.js' %}"></script>
    <script>
        document.getElementById('registerFall').href = fallRegistration;
        document.getElementById('freshmenInterest').href = FirstYearInterest;
    </script>
{% endblock %}