<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <style>
        
    </style>
</head>
<body>
    <div id="main-content">
        <!-- Navbar -->
        {% include 'IFC/navbar.html' %}
  
        <ul>
            {% for chapter in chapters %}
            <li>
                <a href="{% url 'edit_chapter' chapter.id %}">{{ chapter.name }}</a>  <!-- Link to edit each chapter -->
            </li>
            {% endfor %}
        </ul>
        <!-- Footer -->
        {% include 'IFC/footer.html' %}
    </div>
</body>
</html>