<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RPI FSC</title>
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'IFC/css/upload.css' %}" />

</head>

<body>
    {% include 'IFC/dropdownBanner.html' %}
    <div id="main-content">
        <!-- Navbar -->
        {% include 'IFC/navbar.html' %}

        <div class="uploadcontainer">
            {% include 'IFC/accreditation.html' %}
        </div>

    </div>



    <!--<form action="#" method="POST" enctype="multipart/form-data" class="dropzone">  -->
        
    <!--    
        <input type="file" name="document">
        <button type="submit">Upload File</button>
        <button type="submit" class="save btn btn-default">Save</button>  
    -->
    </form> 

</body>

</html>

<script>
    Dropzone.discover();
</script>