<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>RPI FSC</title>
    
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'IFC/images/favicon.png' %}" />

    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'IFC/css/upload.css' %}" />

</head>

<body>
    {% include 'IFC/dropdownBanner.html' %}
    <div id="main-content">
        <!-- Navbar -->
        {% include 'IFC/navbar.html' %}

        <!-- Main Content -->
        <main class="main-content">
            <div class="container">
                <div class="row">
                    <span class="text">1.1</span>
                    <div class="description">
                        <span class="text">Chapter term GPA exceeds the university's all-undergraduate men's/women's average, respective to the chapter.</span>
                    </div>
                    <form action="/upload" method="POST" class="upload-form" enctype="multipart/form-data">
                        <label class="bttn"><input type="file" class="hidden file-select" name="file" required>Browse</label>
                        <input type="submit" class="bttn" value="Upload File">
                        <input type="hidden" id="acr_std_id" name="acr_std_id" value="1.1">
                        {% csrf_token %}
                    </form>
                </div>

                <div class="row">
                    <span class="text">etc... (fill in later)</span>
                </div>
            </div>
        </main>


        

        <!-- Footer -->
        {% include 'IFC/footer.html' %}
        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </div>
</body>

<script>
    var cusid_ele = document.getElementsByClassName('file-select');
    for (var i = 0; i < cusid_ele.length; ++i) {
        var item = cusid_ele[i];  
        item.addEventListener("change", function(){
            
            var file = $(this)[0].files[0].name;
            $(this).parent().html('<input type="file" class="hidden file-select" name="file" required>' + file);
        });
    }
</script>

</html>